<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="center">
      <header>
        <nav>
          <button id="home" class="btn">Home</button>
          <button id="menu" class="btn">Menu</button>
          <button id="contact" class="btn">Contact</button>
        </nav>
      </header>
      <div id="content">
        <h1 class="title">The Chaos Restaurant</h1>
        <p>
          Here in our restaurant you find the most unorganized staff you will
          ever see!
        </p>
        <p>
          Although everything is very messy you would be amazed to find out that
          our food actually tastes <strong>good</strong>.
        </p>

        <p>Go ahead and look at our <a href="#menu">menu</a></p>
      </div>
    </div>
  </body>
</html>
